body {
    background:url("../IMG/8b.jpg");
    background-size: 100%;
}
 
div{
    width: 20%;
    height: 30%;
    float: left;
    display:inline-block;
    background-color: #c3cfd9;
    border: #788896 1px solid;
    border-width: 1px 1px 1px 1px;
    position: absolute;
    top:30%;
    left:40%;
    text-align: center;
    justify-content:center;
    opacity: 80%;
   
}
article {
    text-align: center;
    justify-content:center;
    display:inline-block;
}



.login p{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #44535f;
}


ul {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    margin: 0;
    padding: 10px;
    
  }
.Email
{
    border-radius: 5px;
    border: #adbbc7 solid 2px;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    color: #c5d0da;
}

.Password{
  
    border-radius: 5px;
    border: #adbbc7 solid 2px;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    color: #c5d0da;
}

.Entrar{
    width: 50%;
    height: 40px;
    
    border-radius: 5px;
    font-size: 20px;
    border: #44535f solid 2px;
    color:black;
}

.Olvide
{
    
    color: #44535f;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Media queries*/
@media all and (max-width:1000px)
{
div{
    width: 20%;
    height: 60%;
    float: left;
    display:inline-block;
    top:20%;
    left:40%;
    text-align: center;
    justify-content:center;
  
   
}
article {
    text-align: center;
    justify-content:center;
    display:inline-block;
}

article img{
    width: 60%;
    margin-top: 10%;
}

.login p{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #44535f;
}


ul {
   
    margin: 0;
    padding: 5px;
    
  }
.Email
{
    border-radius: 5px;
    border: #adbbc7 solid 1px;
    width: 100%;
    height: 20px;
    margin-bottom: 5px;
    color: #c5d0da;
}

.Password{
  
    border-radius: 5px;
    border: #adbbc7 solid 1px;
    width: 100%;
    height: 20px;
    margin-bottom: 5px;
    color: #c5d0da;
}

.Entrar{
    width: 60%;
    height: 35px;
    
    border-radius: 5px;
    font-size: 10px;
    border: #a1a4e3 solid 1px;
    color:#6558f5
}

.Olvide
{
    
    color: #44535f;
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
}
