* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
 


/*------------------COMIENZO DEL HEADER------------------------------------------------------------------------*/

header {
	background:black;
	max-width:100%;
	
	color:white;

	/* Flexbox */
	display: flex;
	justify-content:space-between;
	align-items:center;
 
	flex-direction:row;
	flex-wrap:wrap;
}

header .logo img {
	width:150px;
	padding: 15px;
	  
}

header nav {
	
	width:500px;
	/* Flexbox */
 
	display:flex;
	flex-wrap:wrap;
	align-items:center;

}


header nav a {
	background:black;
	color:white;
	text-align: center;
	text-decoration: none;
	float: right;
	font-family: 'Courier New', Courier, monospace;
	/* Flexbox */
	flex-grow:1;
}
 
header nav a:hover {
	background: gray;
	color:white;
	
}

/*------------------FIN DEL HEADER-----------------------------------------------------------------------------*/
.Portada img{
width:100%;

}

.contenedor {
	width:100%;
	
	
	/* Flexbox */
	display:flex;
	flex-flow:row wrap;

}

.main {
	background:white;
	
	color:black;
	display:inline-grid;
	grid-template-columns: 400px 400px 400px 400px;
	grid-template-rows: 400px ;
	margin-bottom: 100px;
	
}
 
.elemento1 {
	width:400px;
	height:400px;
	
	
	/*box-shadow:0 0px 2px 0 rgba(0,0,0,0.22);*/
	border: black 1px solid;
	
}
 

 
.elemento1 img {
	width:100%;
	height:100%;
	
	
	
}



.elemento1 img:hover {
	width:100%;
	height:100%;
	
	/*outline: 2px solid;*/
  outline-color: black;
	opacity: 40%;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
	transition: opacity 500ms;
	
}


.elemento2 {
	width:400px;
	height:400px;
	
	
	/*box-shadow:0 0px 2px 0 rgba(0,0,0,0.22);*/
	border: black 1px solid;
	
}
 


 
.elemento2 img {
	width:100%;
	height:100%;
	
	
	
}


.elemento2 img:hover {
	width:100%;
	height:100%;
	
	/*outline: 2px solid;*/
  outline-color: black;
	opacity: 40%;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
	transition: opacity 500ms;
	
}


.elemento3 {
	width:400px;
	height:400px;
	
	
	/*box-shadow:0 0px 2px 0 rgba(0,0,0,0.22);*/
	border: black 1px solid;
	
}
 


 
.elemento3 img {
	width:100%;
	height:100%;
	
	
	
}


.elemento3 img:hover {
	width:100%;
	height:100%;
	
	/*outline: 2px solid;*/
  	outline-color: black;
	opacity: 40%;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
	transition: opacity 500ms;
	
}


.elemento4 {
	width:400px;
	height:400px;
	
	
	/*box-shadow:0 0px 2px 0 rgba(0,0,0,0.22);*/
	border: black 1px solid;
	
}
 


 
.elemento4 img {
	width:100%;
	height:100%;
	
	
	
}


.elemento4 img:hover {
	width:100%;
	height:100%;
	
	/*outline: 2px solid;*/
  	outline-color: black;
	opacity: 40%;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
	transition: opacity 500ms;
	
}

.imagen50{
	width: 100%;
	display: flex;
	
	flex-wrap: wrap;
}

.imgmitad{
	width: 50%;
	float: left;
}
.txtmitad{
	width: 50%;
}

footer {
	background:black;
	max-width:100%;
	padding:20px;
	color:white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	/* Flexbox */
	display: flex;
	justify-content:space-between;
	align-items:center;
 
	flex-direction:row;
	flex-wrap:wrap;
}

/*
aside {
	background:black;
	color:black;
	
	
	/*FLEX*/
/*	
	flex:2 2 0px;

 
	display: flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:flex-start;
}
 
aside .widget {
	background: white;
	
	margin:3px;
position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

aside .widget  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}




/* CSS pantallas de 320px o superior */
/*
@media (min-width: 320px) {

	.mi-iframe {
	  width: 200px;
	  height: 600px;
	} 
  
  }
  
  /* CSS pantalla 1280px o superior */
  @media (max-width: 2000px) {
  
	.main {
		
		display:inline-grid;
		grid-template-columns: 400px 400px 400px 400px  ;
		grid-template-rows: 400px;
		
	}
	 
	.elemento1 {
		width:400px;
		height:400px;		
		/*box-shadow:0 0px 2px 0 rgba(0,0,0,0.22);*/
		border: black 1px solid;
		
	}
	.elemento2 {
		width:400px;
		height:400px;		
		/*box-shadow:0 0px 2px 0 rgba(0,0,0,0.22);*/
		border: black 1px solid;
		
	}
	.elemento3 {
		width:400px;
		height:400px;		
		/*box-shadow:0 0px 2px 0 rgba(0,0,0,0.22);*/
		border: black 1px solid;
		
	}
	.elemento4 {
		width:400px;
		height:400px;		
		/*box-shadow:0 0px 2px 0 rgba(0,0,0,0.22);*/
		border: black 1px solid;
		
	}
  
  }


  @media (max-width: 1280px) {
  
	.main {
		
		display:inline-grid;
		grid-template-columns: 400px 400px 400px 400px;
		grid-template-rows: 400px ;
		
	}
	 
	.elemento1 {
		width:400px;
		height:400px;		
		/*box-shadow:0 0px 2px 0 rgba(0,0,0,0.22);*/
		border: black 1px solid;
		
	}
	.elemento2 {
		width:400px;
		height:400px;		
		/*box-shadow:0 0px 2px 0 rgba(0,0,0,0.22);*/
		border: black 1px solid;
		
	}
	.elemento3 {
		width:400px;
		height:400px;		
		/*box-shadow:0 0px 2px 0 rgba(0,0,0,0.22);*/
		border: black 1px solid;
		
	}
	.elemento4 {
		width:400px;
		height:400px;		
		/*box-shadow:0 0px 2px 0 rgba(0,0,0,0.22);*/
		border: black 1px solid;
		
	}
  
  }
 

  /* CSS pantallas de 320px o menor */

@media (max-width: 320px) {
	.mail{
		display:inline-grid;
		grid-template-columns: 100px 100px ;
		grid-template-rows: 100px  100px;
	}
	.elemento{
		width:100px;
		height:100px;		
		/*box-shadow:0 0px 2px 0 rgba(0,0,0,0.22);*/
	
		border: black 1px solid;
	}
  }
  
  